@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'roboto Mono', monospace;
  color: #000;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(70, 130, 180, 1) 0%,
    rgba(238, 238, 238, 1) 50%,
    rgba(255, 165, 0, 1) 100%
  );
  display: grid;
  place-content: center;
}
